* {
    bg: #181926;
    bg-alt: #24273a;
    bg-contrast: #494d64;
    fg: #cad3f5;
    primary: #c6a0f6;
    secondary: #f5a97f;
    tertiary: #7dc4e4;
    disabled: #6e738d;
    active:  #7fbbb3;
    urgent: #ed8796;
}
