@import "../style.rasi"

configuration {
    show-icons: true;
}

textbox-prompt-colon {
    str:                         "󰀻";
}

entry {
    placeholder:                 "drun";
}

element {
    padding:                     6px 12px;
}
