@define-color bg #181926;
@define-color bg-alt #24273a;
@define-color bg-contrast #494d64;
@define-color fg #cad3f5;
@define-color primary #c6a0f6;
@define-color secondary #f5a97f;
@define-color tertiary #7dc4e4;
@define-color disabled #6e738d;
@define-color active #a6da95;
@define-color urgent #ed8796;

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  outline: none;
  box-shadow: none;
}

.control-center {
  background-color: @bg;
  box-shadow: none;
  border: 1px solid @bg-contrast;
  border-radius: 0px;
  padding: 16px 12px;
}

.widget-buttons-grid,
.widget-mpris,
.widget-notifications,
.widget-dnd {
  color: @fg;
  font-weight: 500;
}

.widget-buttons-grid {
  background-color: @bg-alt;
  padding: 4px;
  border-radius: 16px;
  margin: 0 0 16px 0;
}

.widget-buttons-grid button {
  background-color: @bg;
  border-color: @bg-contrast;
  border-radius: 16px;
  font-size: 1rem;
  padding: 2px 28px;
  margin: 0px;
}

.widget-buttons-grid button:hover {
  background-color: @primary;
  border-color: @primary;
  color: @bg;
}

.widget-buttons-grid button.toggle:checked {
  color: @bg;
  background-color: @primary;
  border-color: @primary;
}

.widget-buttons-grid button.toggle:checked:hover {
  background-color: @secondary;
  border-color: @secondary;
}

.widget-mpris .widget-mpris-player {
  border-radius: 16px;
  margin: 0;
}

.widget-mpris .widget-mpris-player button {
  background-color: alpha(@bg, 0.65);
  color: @fg;
  border: 1px solid @bg-contrast;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.widget-mpris .widget-mpris-player button:hover {
  opacity: 1;
}

.widget-dnd {
  font-size: 1rem;
  font-weight: 700;
  background-color: @bg-alt;
  padding: 3px 12px;
  border-radius: 16px;
  margin: 0;
}

.widget-dnd switch {
  background-color: @bg-alt;
  border-color: @disabled;
  border-radius: 16px;
  margin: 0;
}

.widget-dnd switch slider {
  background-color: @disabled;
  border: none;
}

.widget-dnd switch:checked {
  border-color: @primary;
}

.widget-dnd switch:checked slider {
  background-color: @primary;
}

.notification {
  padding: 8px 12px;
  border-radius: 16px;
  border: 1px solid @bg-alt;
  color: @fg;
  background-color: @bg;
  margin: 0;
}

.notification-background {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.notification-content:hover {
  background-color: transparent;
}

.notification-content {
  background-color: @bg;
  padding: 0;
  margin: 0;
}

.notification-content * {
  color: @fg;
}

.notification-content .time {
  font-size: 1rem;
  font-weight: 400;
  color: @bg-contrast;
}

.notification .summary {
  padding: 0 4px;
  margin-bottom: 6px;
}

.notification .body {
  padding: 0 4px;
  font-size: 1rem;
}

.notification-row {
  margin: 0;
}

.notification-row:not(last-of-type) {
  margin-bottom: 3px;
}

.notification-group {
  margin: 0;
}

.notification-group-headers,
.notification-group-buttons {
  margin: 0 0 6px 0;
}

.notification-group-headers > label {
  font-size: 1.125rem;
  color: @fg;
}

.notification-group-icon {
  color: @fg;
}
