@define-color bg #181926;
@define-color bg-alt #24273a;
@define-color bg-contrast #494d64;
@define-color fg #cad3f5;
@define-color primary #c6a0f6;
@define-color secondary #f5a97f;
@define-color tertiary #7dc4e4;
@define-color disabled #6e738d;
@define-color active #a6da95;
@define-color urgent #ed8796;
