@define-color bg #1e2326;
@define-color bg-alt #272e33;
@define-color bg-contrast #3c4841;
@define-color fg #d3c6aa;
@define-color primary #a7c080;
@define-color secondary #e69875;
@define-color tertiary #d699b6;
@define-color disabled #4f5b58;
@define-color active #7fbbb3;
@define-color urgent #e67e80;
