@import "colors.css";

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMonoNL Nerd Font Propo";
}

window#waybar {
  background-color: transparent;
  font-size: 14px;
}

window > box {
  padding: 4px;
  background-color: @bg;
  border: 1px solid @bg-contrast;
  border-radius: 16px;
}

tooltip {
  background-color: alpha(@bg, 0);
  font-weight: 500;
  box-shadow: none;
  padding: 0;
}

tooltip label {
  background-color: alpha(@bg, 0.95);
  border: 1px solid @bg-contrast;
  border-radius: 4px;
  color: @fg;
  padding: 6px 16px;
}

#custom-menu,
#clock,
#network,
#bluetooth,
#pulseaudio,
#workspaces,
#tray,
#custom-updates,
#cpu,
#memory,
#temperature,
#window {
  font-weight: 700;
}

#clock,
#workspaces,
#window,
#tray {
  background-color: @bg-alt;
  border-radius: 16px;
  padding: 0px 14px;
}

#clock {
  color: @fg;
}

#network {
  color: @active;
  font-family: "Symbols Nerd Font Mono";
}

#network.disconnected {
  color: @urgent;
}

#bluetooth {
  font-size: 16px;
}

#bluetooth.on {
  color: @primary;
}

#bluetooth.off {
  color: @disabled;
}

#bluetooth.connected {
  color: @active;
}

#pulseaudio {
  color: @secondary;
}

#pulseaudio.muted {
  color: @disabled;
}

#power-profiles-daemon.performance,
#power-profiles-daemon.power-saver {
  color: @active;
}

#power-profiles-daemon.balanced {
  color: @disabled;
}

#custom-updates {
  color: @tertiary;
}

#window {
  color: @fg;
  transition: background-color 200ms ease-in-out;
  font-weight: 500;
}

#window:hover {
  background-color: @bg-contrast;
}

window#waybar.empty #window:hover {
  color: @fg;
}

#workspaces {
  padding: 0 1px;
}

#workspaces button {
  background-color: transparent;
  border-radius: 16px;
  font-size: 11px;
  min-width: 48px;
  color: @fg;
}

#workspaces button.persistent {
  color: @disabled;
}

#workspaces button:hover {
  color: @primary;
}

#workspaces button.focused {
  font-size: 14px;
  min-width: 54px;
  background-color: @primary;
  color: @bg;
}

#tray menu {
  padding: 4px;
  background-color: @bg;
  border: 1px solid @bg-contrast;
  box-shadow: none;
}

#tray menu menuitem {
  padding: 3px 0;
  font-size: 14px;
  border-radius: 16px;
  background-color: transparent;
}

#tray menu menuitem:hover {
  color: @primary;
}

#cpu {
  color: @primary;
}

#memory {
  color: @secondary;
}

#temperature {
  color: @tertiary;
}

#cpu.warning {
  color: @urgent;
}

#memory.warning {
  color: @urgent;
}

#temperature.critical {
  color: @urgent;
}

#custom-menu {
  color: @bg;
  background-color: @fg;
  padding: 0 14px;
  border-radius: 9999px;
  transition: all 200ms ease-in-out;
}

#custom-menu:hover {
  background-color: @primary;
  color: @bg;
}
