#custom-menu {
  color: @bg;
  background-color: @fg;
  padding: 0 12px;
  border-radius: 16px;
  transition: all 200ms ease-in-out;
}

#custom-menu:hover {
  background-color: @primary;
  color: @bg;
}
